---
import { META, BLOG_ROLL, Favlinks as links } from "~/config"
import MainLayout from "~/layouts/main.astro"
import LinkCard from "~/components/astro/link-card.astro"


const pageMeta = META.pageMeta
---

<MainLayout
  title={pageMeta.links.title}
  description={pageMeta.links.description}
  ogImage={pageMeta.links.ogImage}
  needComment={true}
>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
    {links.map((link) => <LinkCard {...link} />)}
  </div>

  <div class="text-lg text-gray-600">
    <h3 class="my-5 text-xl font-bold">#BlogRoll</h3>
    <ol class="list-decimal px-10">
    {
      BLOG_ROLL.map((link: string) => (
        
          <li>
            <a
              href={link}
              target="_blank"
              class="text-blue-600 visited:text-purple-500/90 hover:underline md:my-2"
            >
              {link}
            </a>
          </li>
      ))
    }
    </ol>
  </div>
</MainLayout>
