---
import "~/styles/globals.css"
import { ClientRouter } from "astro:transitions"
import { PatternBackground } from "~/components/react/pattern-background"
import { META } from "~/config"

const { title, description, ogImage } = Astro.props

const ogImageURL = new URL(ogImage, Astro.site).href
const permalink = new URL(Astro.url.pathname, Astro.site).href
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={META.favicon} />
    <title>
      {title ? `${META.title} - ${title}` : `${META.title} - ${META.slogan}`}
    </title>
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={description ? description : META.description}
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={permalink} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={permalink} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImageURL} />

    <script is:inline>
      const setTheme = () => {
        const theme =
          localStorage.getItem("theme") ??
          (window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light")

        if (theme === "dark") {
          document.documentElement.classList.add("dark")
          document.documentElement.setAttribute(
            "data-theme",
            "material-theme-darker",
          )
        } else {
          document.documentElement.classList.remove("dark")
          document.documentElement.setAttribute(
            "data-theme",
            "material-theme-lighter",
          )
        }
      }

      setTheme()

      // Runs on view transitions navigation
      document.addEventListener("astro:after-swap", setTheme)
      document.addEventListener("astro:page-load", setTheme)
    </script>

    <ClientRouter />
  </head>
  <body
    class="flex min-h-screen w-full justify-center px-6 dark:bg-[#121212] dark:text-white md:px-0"
  >
    <slot />
    <PatternBackground />
  </body>
</html>
